<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <!-- Agrega aquí tus enlaces a CSS si los necesitas -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Calculadora de Insulina</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
    </nav>      


    <h1>Registro de Usuario</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.nombre_completo.label }} {{ form.nombre_completo }}
            {% for error in form.nombre_completo.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.localidad.label }} {{ form.localidad }}
            {% for error in form.localidad.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.usuario.label }} {{ form.usuario }}
            {% for error in form.usuario.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.contraseña.label }} {{ form.contraseña }}
            {% for error in form.contraseña.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.confirmar_contraseña.label }} {{ form.confirmar_contraseña }}
            {% for error in form.confirmar_contraseña.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>

